.container {
  position: relative;
  background-image: url('src/assets/admitere.webp'); /* Add the shared background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card {
  position: absolute;
  /*min-width: 200px; !* Set minimum width for card *!*/
  width: calc(20%);
  /*max-width: calc(50% - 500px); !* Set maximum width for card (half of container width minus spacing) *!*/
  height: auto; /* Adjust card height dynamically based on content */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
  border-radius: 10px;
}

.content {
  padding: 20px;
}

.top-card {
  top: calc(5%); /* Adjust top position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.left-card {
  top: 50%; /* Center vertically */
  left: calc(30%); /* Adjust left position as needed */
  transform: translateY(-50%); /* Center vertically */
}

.right-card {
  top: 40%; /* Center vertically */
  left: calc(50% + 20px); /* Adjust left position to be next to the left card */
  margin-right: 200px;
  transform: translateY(-50%); /* Center vertically */
}

.right-card:nth-child(2) {
  top: calc(60%); /* Position the second right card below the first right card */
}

.top-card .content ol {
  font-weight: bold; /* Make the ordered list items bold */
}

.right-card a {
  color: inherit; /* Inherit color from parent */
}


.title {
  margin-bottom: 50px; /* Add some spacing between the title and the section */
  margin-top: 50px; /* Add margin to the top of the title */

}

.title h1 {
  font-size: 40px; /* Increase title size */
  text-align: center;
}
