<div class="first-container">
  <div class="title">
    <h1>Admiterea la Facultatea de Fizică din <br>"Universitatea Babeș-Bolyai"</h1>
  </div>
  <div class="container">
    <div class="top-card card">
      <div class="content">
        <h2>Specializări</h2>
        <ul>
          <li>cu durata studiilor de 3 ani:</li>
          <ol>
            <li>Fizică</li>
            <li>Fizică informatică</li>
            <li>Fizică medicală</li>
          </ol>
          <li>cu durata studiilor de 4 ani:</li>
          <ol>
            <li>Fizică tehnologică</li>
          </ol>
        </ul>
      </div>
    </div>
    <div class="right-card card">
      <div class="content">
        <h2>Examenul</h2>
        <p>Conform regulamentelor, nota la testul scris trebuie să fie cel putin 5 pentru promovarea examenului. Candidații care nu au obținut nota minimă vor fi declarați respinși la concursul de admitere.</p>
      </div>
    </div>
    <div class="left-card card">
      <div class="content">
        <h2>Etapele admiterii</h2>
        <ol>
          <li>Înscriere în platforma online dedicată și crearea unui cont</li>
          <li>Validare dosar de către comisia de admitere</li>
          <li>Participare la examen (test scris)</li>
          <li>Confirmare loc ocupat - online</li>
          <li>Validare confirmare online de către comisia de admitere</li>
          <li>Confirmare ocupare loc - depunere dosar, la secretariat</li>
        </ol>
      </div>
    </div>
    <div class="right-card card">
      <div class="content">
        <h2>Exemple Teste </h2>
        <ol>
          <li><a href="../../assets/examen_grila_1.pdf" target="_blank">Model 1</a></li>
          <li><a href="../../assets/examen_grila_2.pdf" target="_blank">Model 2</a></li>
        </ol>
      </div>
    </div>
  </div>

</div>
