<div class="container">
  <div class="title">
    <h1>Povestea Noastră</h1>
  </div>
  <!-- Section with text and picture -->
  <div class="section">
    <div class="picture">
      <img src="../../assets/history.webp" alt="History image" class="image">
    </div>
    <div class="text">
      <!-- Text content -->
      <p>ASFUBB este o asociație studențească care a luat naștere în 2013. Scopul acesteia este de reprezenta atât studenții din Facultatea de Fizică, cât și nevoile acestora.</p>
    </div>
  </div>
</div>
