<footer class="footer">
  <div class="logo">
    <!-- Your logo goes here -->
    <img src="../../assets/logo-asf.webp" alt="Logo ASF">
  </div>
  <div class="social-icons">
    <!-- Social icons -->
    <a href="mailto:asfubbcluj@gmail.com"><mat-icon>mail</mat-icon></a>
    <a href="https://facebook.com/ASFUBB"><mat-icon>facebook</mat-icon></a>
    <a href="https://www.linkedin.com/in/asocia%C8%9Bia-studen%C8%9Bilor-fizicieni-din-universitatea-babe%C8%99-bolyai-629946259/"><mat-icon>linkedin</mat-icon></a>
    <a href="https://www.instagram.com/asfubbcluj/"><img src="../../assets/insta.webp" alt="https://www.instagram.com/asfubbcluj/"></a>
    <a href="https://www.instagram.com/asfubbcluj/"></a>
    <a href="tel:+40755145215"><mat-icon>phone</mat-icon></a>
  </div>
  <div class="more-logos">
    <!-- More logos -->
    <a href="https://www.facebook.com/cosclujnapoca"><img src="../../assets/logo1-footer.webp" alt="Logo COS"></a>
    <a href="https://ftcluj.ro/"><img src="../../assets/logo2-footer.webp" alt="Logo Federatia Tinerilor din Cluj"></a>
    <a href="https://anosr.ro/"><img src="../../assets/logo3-footer.webp" alt="Logo ANOSR"></a>
  </div>
</footer>
