<div class="container">
  <div class="title">
    <h1>Săli</h1>
  </div>
  <!-- Section with text and picture -->
  <div class="section">
    <img src="../../assets/rooms.webp" alt="Map image" class="image">
  </div>

  <ul class="room-list">
    <li><b>AM</b>: Amfiteatrul de Mecanică "Victor Marian", etaj II, sala 208</li>
    <li><b>AE</b>: Amfiteatrul de Electricitate "Augustin Maior", etaj II, sala 239</li>
    <li><b>6/II</b>: etaj II, sala Facultatea de Matematică</li>
    <li><b>5/II</b>: etaj II, sala "Farkas Gyula"</li>
    <li><b>3/II</b>: etaj II, sala 224</li>
    <li><b>2/I</b>: etaj I, sala Facultatea de Matematică</li>
    <li><b>7/I</b>: etaj I, sala Facultatea de Matematică</li>
    <li><b>5/I</b>: etaj I, sala Facultatea de Matematică</li>
    <li><b>224B (3/IIB)</b>: sala 224</li>
    <li><b>HO</b>: Sala Herman Oberth, etaj II, sala 238</li>
    <li><b>s7, s9</b>: subsol, intrarea pe scările din curte, lângă poarta laterală</li>
    <li><b>s38, s39</b>: Centrul Național de RMN, Institutul "Ioan Ursu"- subsolul Clădirii Centrale</li>
    <br>
    <li><b>A311, Axx</b>: săli în clădirea <a href="https://maps.app.goo.gl/ZBX235GuUEgz1Wxa8">Facultății de Drept</a>, str. Avram Iancu</li>
    <li><b>sălile Gamma, Lambda</b>: clădirea Mathematica, <a href="https://maps.app.goo.gl/rTXn6Y4BTfJ2DtXf7">str. Ploiești 23-25</a></li>
    <li><b>L321, L307, ...L338, L343, C310</b>: laboratoare/săli, etaj III, Campus - str. T. Mihali</li>
    <li><b>C510</b>: etaj 5 Campus - str. T. Mihali</li>
    <li><b>A2</b>: amfiteatru Campus - str. T. Mihali</li>
    <li><b>AMF</b>: <a href="https://maps.app.goo.gl/8575vWDJLs51F6tHA">Facultatea de Business</a>, str. Horea nr.7</li>
    <li><b>Amf. "I.Silaghi-Dumitrescu"</b>: <a href="https://maps.app.goo.gl/KpvKS218DZsrQDrJ6">Facultatea de Chimie</a>, str. Arany Janos nr. 11</li>
    <li><b>L8 Chimie</b>: <a href="https://maps.app.goo.gl/KpvKS218DZsrQDrJ6">Facultatea de Chimie</a>, str. Arany Janos nr. 11</li>
    <li><b>129 Chimie</b>: <a href="https://maps.app.goo.gl/KpvKS218DZsrQDrJ6">Facultatea de Chimie</a>, str. Arany Janos nr. 11</li>
    <li><b>L204</b>: <a href="https://maps.app.goo.gl/KpvKS218DZsrQDrJ6">Facultatea de Chimie</a>, str. Arany Janos nr. 11</li>
    <li><b>Amf. Fiziologie</b>: <a href="https://maps.app.goo.gl/dXY4t8oCbq58MQfn8">str. Clinicilor nr. 1-3</a>, Catedra de Fiziologie</li>
    <li><b>A 3.13 - INCDTIM</b>: <a href="https://maps.app.goo.gl/pVfRnDLjhhKNQMV46">str. Donath 67-103</a>, clădirea A, etaj 3, sala 13</li>
    <li><b><a href="https://maps.app.goo.gl/41sEoQg2XzFwiWAw7">Parcul sportiv "Iuliu Hațieganu"</a></b></li>
  </ul>
  <br><br>
  <b>Pentru disciplinele de la Facultatea de Matematică și Informatică, vedeți <a href="https://www.cs.ubbcluj.ro/files/orar/2021-2/sali/legenda.html">aici</a> săli.</b>
</div>
