<h2>Add Team Leader</h2>

<form [formGroup]="teamLeaderForm" (ngSubmit)="onFormSubmit($event)">
  <mat-form-field appearance="fill">
    <mat-label>Team Leader Name</mat-label>
    <input matInput type="text" placeholder="Team Leader Name" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="button" (click)="openFileInput()">
      <mat-icon>cloud_upload</mat-icon> Upload Image
    </button>
    <input type="file" accept="image/*" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
    <span *ngIf="selectedFile">
      {{ selectedFile.name }}
      <button mat-icon-button color="warn" (click)="cancelFileSelection()">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>

  <button mat-button (click)="onCancelClick($event)">Cancel</button>
  <button mat-raised-button color="primary" type="submit">{{ data ? 'Update' : 'Save' }}</button>
</form>
