<mat-card class="container">

  <div class="title">
    <h1>ASOCIAȚIA STUDENȚILOR<br> FIZICIENI DIN UNIVERSITATEA<br> "BABEȘ-BOLYAI"</h1>
  </div>

  <!-- Logo -->
  <img src="../../assets/logo-asf.webp" alt="Logo" class="logo">

  <!-- Large photo landscape -->
  <img src="../../assets/everybody-landscape.webp" alt="Landscape" class="landscape">

  <!-- Section with text and picture -->
  <div class="section">
    <div class="text">
      <!-- Text content -->
      <h1>DESPRE NOI</h1>
      <p>Asociația Studenților Fizicieni din Universitatea Babeș-Bolyai este o organizație studențească autonomă și neguvernamentală dintr-o universitate de prestigiu internațional, datând din anul 2013.</p>
      <p>ASFUBB activează în domeniul reprezentării studențești în Universitate, promovând educația și domeniul STEM pe plan local.</p>
      <p>Activitatea de reprezentare este facilitată de statutul de membru al Consorțiului Organizațiilor Studențești din Cluj-Napoca (COS) și al Federației Tinerilor din Cluj-Napoca (FTC), respectiv, pe plan național, prin intermediul federației ANOSR (Alianța Națională a Organizațiilor Studențești din România).</p>
    </div>
    <div class="picture">
      <img src="../../assets/about-us.webp" alt="About us" class="image">
    </div>
  </div>


  <div class="departments">
    <h1>Departamente</h1>
    <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Add a department" aria-label="Add" (click)="openAddDepartmentDialog()">
      <mat-icon aria-label="Add">add</mat-icon>
    </button>
    <div class="department-images">
      <div class="department" *ngFor="let department of departments; let i = index;">
        <div class="department-image" [ngStyle]="{ 'background-image': 'url(' + constructImageUrl(department.picture) + ')' }">
          <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Edit" aria-label="Edit" (click)="editDepartment(department)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Delete" aria-label="Delete" (click)="deleteDepartment(department)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
          <!-- Other department details as needed -->
        </div>
      </div>
    </div>
  </div>



  <!-- Biroul de Conducere -->
  <div class="leadership">
    <h2>Biroul de Conducere</h2>
    <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Add a team leader" aria-label="Add" (click)="openAddTeamLeaderDialog()">
      <mat-icon aria-label="Add">add</mat-icon>
    </button>
    <div class="team-leaders">
      <div class="team-leader" *ngFor="let teamLeader of teamLeaders; let i = index;">
        <h3>{{ teamLeader.name }}</h3>
        <p>{{ teamLeader.description }}</p>
        <div class="team-leader-image" [ngStyle]="{ 'background-image': 'url(' + constructImageUrl(teamLeader.picture) + ')' }">
          <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Edit" aria-label="Edit" (click)="editTeamLeader(teamLeader)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Delete" aria-label="Delete" (click)="deleteTeamLeader(teamLeader)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- News -->
  <div class="news">
    <h2>News</h2>
    <!-- Image and text -->
    <!-- Image and text -->
    <!-- ... -->
  </div>
</mat-card>
