<mat-card class="container">

  <div class="title">
    <h1>ASOCIAȚIA STUDENȚILOR<br> FIZICIENI DIN UNIVERSITATEA<br> "BABEȘ-BOLYAI"</h1>
  </div>

  <!-- Logo -->
  <img src="../../assets/logo-asf.webp" alt="Logo" class="logo">

  <!-- Large photo landscape -->
  <img src="../../assets/everybody-landscape.webp" alt="Landscape" class="landscape">

  <!-- Section with text and picture -->
  <div class="section">
    <div class="text">
      <!-- Text content -->
      <h1>DESPRE NOI</h1>
      <p>Asociația Studenților Fizicieni din Universitatea Babeș-Bolyai este o organizație studențească autonomă și neguvernamentală dintr-o universitate de prestigiu internațional, datând din anul 2013.</p>
      <p>ASFUBB activează în domeniul reprezentării studențești în Universitate, promovând educația și domeniul STEM pe plan local.</p>
      <p>Activitatea de reprezentare este facilitată de statutul de membru al Consorțiului Organizațiilor Studențești din Cluj-Napoca (COS) și al Federației Tinerilor din Cluj-Napoca (FTC), respectiv, pe plan național, prin intermediul federației ANOSR (Alianța Națională a Organizațiilor Studențești din România).</p>
    </div>
    <div class="picture">
      <img src="../../assets/about-us.webp" alt="About us" class="image">
    </div>
  </div>


  <!-- Departments -->
  <div class="departments">
    <h1>Departamente</h1>
    <!-- 3 pictures -->
    <!-- 2 pictures -->
  </div>

  <!-- Biroul de Conducere -->
  <div class="leadership">
    <h2>Biroul de Conducere</h2>
    <!-- Member picture, function, and name -->
    <!-- Member picture, function, and name -->
    <!-- ... -->
  </div>

  <!-- News -->
  <div class="news">
    <h2>News</h2>
    <!-- Image and text -->
    <!-- Image and text -->
    <!-- ... -->
  </div>
</mat-card>
